*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* shared style */
.about-container{
  max-width: 827px;
  text-align: center;
}
.about-container h2{
  font-size: 35px;
 margin-bottom: 30px;
}
.about-container p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 }
header {
  background-color: #FFF8F3;
  padding-top: 50px;
  background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
  background-repeat: no-repeat;
  background-position: top left,bottom right;
  /* width: 774px 136px; */
  
}
nav{
  width: 70%;
  max-width: 1140px;
  border: 1px solid red;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
.orange-color{
  color: #FD6E0A;
  
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  color: 474747;
  text-decoration: none;
}
#banner{
  /* border: 1 px solid red; */
  margin: 47px 38px 0 230;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#banner .banner-content{
  max-width: 1320px;

}
#banner .banner-content h2{
  font-size: 45Px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color:#181818 ;
  margin-bottom: 20px;

}
#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
}
#banner .banner-img img{
  max-width: 550px;
  vertical-align: middle;
}
#about {
   padding-top: 130px;
}
#about .about-container{
  width: 71%;
  background-color: #FFF8F3;

  max-width: 1140px;
  margin: 0 auto;
 text-align: center;
 padding: 131px 156px;
}
#about .about-container .about-info{
  display: flex;
 justify-content: space-around;
}
.about-info P{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #757575;
}
.about-info H4{
  font-size: 20px;
  
}
#skill{
  padding-top: 130px;
}
.skill-container{
  width: 71%;
 max-width: 1140px;
 margin: 0 auto;
  text-align: center;
}
#skill .skill-container .skill-box{
  display: flex;
  gap: 24px;
}
 .skill-box .skill-card{
  padding: 30px;
  /* border: 1px solid red; */
  box-shadow: 0 6px 50px 0 #0000002d;

  max-width: 267px;
 }
 .skill-card img{
  max-width: 44px;
  margin-bottom: 30px;
 }
 .skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
 }
  .skill-card p{
     font-size: 16px;
  line-height: 28px;
  color: #757575;
  }
  #resume {
   padding-top: 130px;
    text-align: center;
}
.skill-container{
  width: 71%;
 max-width: 1140px;
 margin: 0 auto;
  text-align: center;
}
#resume .resume-container hr{
  margin: 30px 0;
}
#resume .resume-container{
width: 71%;
max-width: 1140px;
margin: 113px auto 0;

display: flex;
gap: 24px;
}
.resume-container .section-title{
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}
.resume-card{
  max-width: 511px;
  margin-right: 47px;

}
.resume-card .card-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}
.resume-card .card-info{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #474747;
}
.resume-card .card-text{
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #474747;
}
